// This file contains all the styles the effect the admin panel
.admin {

  table {
    margin-top: 10px;
  }

  .well {
    background-color: transparent;
    h3 {
      margin-top: 0;
    }
  }

  #active-repositories {
    tbody span {
      padding-right: 5px;
    }
  }

  #available-repositories {
    .row-spacer div + div {
      margin-top: 5px;
    }

    .fa-question-circle {
      font-size: 2.5em;
    }

    @media (max-width: @screen-md) {
      .help {
        margin-top: 20px;
      }
    }

  }


  #repository-panel section+section {
    margin-top: 20px;
  }

  @media screen and (max-width: 768px) {
    .input-group {
      margin: 5px 0px;
    }

    #button_add_rate {
      margin: 5px 0px;
    }
  }
}