// This file contains all the styles the effect the admin panel
.admin {

  h3 {
    display: inline-block;
    margin-top: 0px;
  }

  table {
    margin-top: 10px;
  }

  .well {
    background-color: transparent;
  }

  #active-repositories {
    tbody span {
      padding-right: 5px;
    }
  }


  #repository-panel section+section {
    margin-top: 20px;
  }

  @media screen and (max-width: 768px) {
    .input-group {
      margin: 5px 0px;
    }

    #button_add_rate {
      margin: 5px 0px;
    }
  }
}