@media screen and (max-width: 768px) {

  // Make the month picker full width
  .month-picker {
    float: none;
  }

  // One mobile devices only display the first two columns
  table.responsive {
    th:nth-child(-n+2), td:nth-child(-n+2){ display: table-cell }
    td, th{ display: none; }
  }

  .preamble-content-right {
    text-align: center;
  }
  .preamble-content-left {
    text-align: center;
  }

}


