@navbar-offset : 51px;
@mintGreen : #eef8ee;

// Overwriting Bootstraps Variables
@brand-primary : darken(@mintGreen, 20%);
@navbar-default-bg : @mintGreen;
@link-color :  darken(@brand-primary, 20%);
@icon-font-path : "/public/bower_components/bootstrap";