@navbar-offset : 51px;
@footer-height : 40px;
@mint-green : #eef8ee;
@full-green : #4DA14D;
@light-blue : #E7F1F1;
@full-blue : #4B9D9D;
@font-grey : #777777;
@full-red : #A65050;
@full-red-dark : darken(@full-red, 10%);


// Overwriting Bootstraps Variables
@brand-primary : darken(@mint-green, 40%);
@btn-sucess : @full-green;
@btn-danger : @full-red;
@navbar-default-bg : @mint-green;
@link-color :  darken(@brand-primary, 20%);
@icon-font-path : "/public/bower_components/bootstrap";