@(usedRepositories: List[models.Repository])(implicit session: controllers.SessionData)

@additionalHeader = {
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/datepicker.css")">
}
@main("Log now", additionalHeader) {
    <div class="alert fade">
      <button type="button" class="close" data-dismiss="alert">×</button>
    </div>
    <div class="container">
        <form action="" method="POST" role="form">
            <h3>
                Log time for issue #
                <input id="issueNumber" class="form-control" type="text" value="0" name="issueNumber" required pattern="^\d+$" style="width: 64px; display: inline; margin-left: 5px; font-size: 24px; padding: 0; text-align: center; ">

            </h3>
            <div class="form-group">
                <label class="control-label" for="inputRepo">Repository</label>
                <div style="width: 100%">
                    <select name="repository" class="form-control">
                        @usedRepositories.map { repository =>
                            <option value="@repository.name"> @repository.name </option>
                        }
                    </select>
                </div>

                <label class="control-label" for="duration">Duration</label>
                <div class="input-group">
                    <input id="duration" class="form-control" type="text" name="duration" autofocus required pattern="^\s*\-?\s*(?:(\d+)\s*d)?\s*(?:(\d+)\s*h)?\s*(?:(\d+)\s*m)?\s*$">
                    <span class="input-group-addon"><i class="icon-time"></i></span>
                </div>
                
                <label class="control-label" for="duration">Comment</label>
                <input id="comment" name="comment" class="form-control" type="text">

                <label class="control-label" for="date">Date</label>
                <div class="input-group" data-datepicker>
                    <input class="form-control" type="text" name="date" pattern="^\d{2}\.\d{2}\.\d{4}">
                    <span class="input-group-addon"><i class="icon-calendar"></i></span>
                </div>


            </div>
            <div class="form-group">
                <input type="submit" value="Log" class="btn btn-default">
            </div>
        </form>

    </div>
}
