@()

@main("Home"){

	<div>
    	<h2 id="user"></h2>
        <span class="btn-group">
            <button class="btn" id="date_back"><i class=" icon-chevron-left"></i></button>
            <button class="btn" id="date"></button>
            <button class="btn" id="date_forward"><i class=" icon-chevron-right"></i></button>
        </span>
    </div>
    <div>
        <table id="timetable" class="table table-hover table-bordered">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
    <div id="popup">
        <h2>Iframe with new issue/ edit issue</h2>
        <!-- <iframe src="/404"></iframe> -->
    </div>
}