@()

@main("Home"){
   <div class="container wide">
        <div>
            <h2 id="user"></h2>
            <div class="btn-group month_picker">
                <button class="btn btn-default month_back"><i class=" icon-chevron-left"></i></button>
                <button class="btn btn-default month_title"></button> 
                <button class="btn btn-default month_forward"><i class=" icon-chevron-right"></i></button>
            </div>
        </div>
        <div>
            <table id="timetable" class="table table-hover table-bordered">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="popup">
            <h2>Iframe with new issue/ edit issue</h2>
            <!-- <iframe src="/404"></iframe> -->
        </div>
    </div>
}