@(message: String)(implicit session: controllers.SessionData)

@main("scalable minds time tracker") {
  <div class="preamble">
    <div class="container">
      <div class="row">
      <div class="col-sm-3 preamble-content-right">
        <img src="@routes.Assets.at("images/github120_white.png")" alt="GitHub"/>
      </div>
      <div class="col-sm-3 preamble-content-right">
        <h1>GitHub Time Tracking</h1>
      </div>
      <div class="col-sm-6 preamble-content-left">
        <div>
          <h1><span class="highlight">made easy<br>for free</span> </h1>
        </div>
      </div>
      </div>

      <div class="row button-container text-center">
      <div class="col-sm-12">
        <a href="@controllers.auth.routes.Authentication.authenticate(None)">
          <button type="button" class="btn btn-landingpage btn-xlarge">
            Try now
          </button>
        </a>
      </div>
      </div>
    </div>
  </div>
    <div class="container text-left feature-container">
      <div class="row">
      <div class="col-sm-4 thin">
        <img class="scaled" src="@routes.Assets.at("images/sc_github.png")" alt="scalable minds" />
        <h2>Issue based</h2>
        <p>Track your time for each issue you work on. We inject links into your issues for convenience.</p>
      </div>
      <div class="col-sm-4 thin">
        <img class="scaled" src="@routes.Assets.at("images/sc_project.png")" alt="scalable minds" />
        <h2>Monthly overview</h2>
        <p>See an overview of your monthly work.</p>
      </div>
      <div class="col-sm-4 thin">
        <img class="scaled" src="@routes.Assets.at("images/sc_team.png")" alt="scalable minds" />
        <h2>Team reports</h2>
        <p>Admins can see a report by team member or by repository.</p>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-4 thin">
        <h2>Free Hosting</h2>
        <p>No ads. Data hosted in Germany.<br />Or, deploy it on your own server.<p>
      </div>
      <div class="col-sm-4 thin">
        <h2>GitHub integration</h2>
        <p>Uses your GitHub account and all repository and collaborator settings directly. Get started with a minimal setup.
      </div>
      <div class="col-sm-4 thin">
        <h2>Open Source</h2>
        <p>Built with <a href="http://www.scala-lang.org/">Scala</a>, <a href="http://backbonejs.org/">Backbone.js</a> and <a href="http://getbootstrap.com/">Bootstrap</a>.<br />
        <a href="https://github.com/scalableminds/time-tracker">Get the code on Github.</a> Happy forking.</p>
      </div>
      </div>
    </div>
}
