@(authWithPrivateScope: String, authWithPublicScope: String)(implicit session: controllers.SessionData)

@main("Login"){
<div class="container authenticate">
  <div class="row">
    <div class="col-sm-12">
      <h2>Please choose which permissions you want to grant Time-Tracker </h2>
    </div>
    <div class="col-sm-6">
      <div class="well">
        <h4> Public access </h4>
        <div class="body">
        <div class="group">
          <div class="spacer">
            <span class="permission read ">Read</span>
            <strong> Your public user profile </strong>
          </div>
          <div class="spacer">
            <span class="permission read">Read</span>
            Organizations and teams
          </div>
        </div>
        <div class="group">
          <div class="spacer">
            <span class="permission read">Read</span>
            <strong> Your public repositories and organizations </strong>
          </div>
          <div class="spacer">
            <span class="permission read">Read</span>
            Code
          </div>
          <div class="spacer">
            <span class="permission read">Read</span>
            Issues
          </div>
          <div class="spacer">
            <span class="permission write">Write</span>
            Webhooks and services
          </div>
        </div>
        <div class="group">
          <div class="spacer">
            <span class="permission read off">None</span>
            <strong> Your private repositories and organizations </strong>
          </div>
          <div class="spacer">
            <span class="permission read off">None</span>
            Code
          </div>
          <div class="spacer">
            <span class="permission read off">None</span>
            Issues
          </div>
          <div class="spacer">
            <span class="permission read off">None</span>
            Webhooks and services
          </div>
        </div>
        <div class="group">
          <a class="btn btn-primary btn-block" href="@authWithPublicScope">Allow public access</a>
        </div>
      </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="well">
        <h4> Private access </h4>
        <div class="body">
          <div class="group">
            <div class="spacer">
              <span class="permission read ">Read</span>
              <strong> Your public user profile </strong>
            </div>
            <div class="spacer">
              <span class="permission read">Read</span>
              Organizations and teams
            </div>
          </div>
          <div class="group">
            <div class="spacer">
              <span class="permission write">Write</span>
              <strong> Your public repositories and organizations </strong>
            </div>
            <div class="spacer">
              <span class="permission write">Write</span>
              Code
            </div>
            <div class="spacer">
              <span class="permission write">Write</span>
              Issues
            </div>
            <div class="spacer">
              <span class="permission write">Write</span>
              Webhooks and services
            </div>
          </div>
          <div class="group">
            <div class="spacer">
              <span class="permission write">Write</span>
              <strong> Your private repositories and organizations </strong>
            </div>
            <div class="spacer">
              <span class="permission write">Write</span>
              Code
            </div>
            <div class="spacer">
              <span class="permission write">Write</span>
              Issues
            </div>
            <div class="spacer">
              <span class="permission write">Write</span>
              Webhooks and services
            </div>
          </div>
        <div class="group">
          <a class="btn btn-primary btn-block" href="@authWithPrivateScope">Allow private access</a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
}