@(title: String, additionalHeader: Html=Html.empty)(content: Html)(implicit session: controllers.SessionData)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/config.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bower_components/requirejs/require.js")" data-main="main" type="text/javascript"></script>

        <script src="@controllers.routes.Application.javascriptRoutes()" type="text/javascript"></script>
        @additionalHeader
    </head>
    <body>
        <header class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@controllers.routes.Application.home">Time-Tracker</a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                @session.userOpt.map { user =>
                    <ul class="nav navbar-nav">
                        <li @if(title=="Home"){class="active"}><a href="@controllers.routes.Application.home">Home</a></li>
                        <li @if(title=="Team"){class="active"}><a href="@controllers.routes.Application.team">Team</a></li>
                        <li @if(title=="Repository Administration"){class="active"}><a href="@controllers.admin.routes.RepositoryAdministration.list">Admin</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user icon-white"></i> <strong>@user.fullName</strong> <span>(@user.email)</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@controllers.routes.UserController.showSettings()"><i class="icon-key"></i> Access-Key</a>
                                </li>
                                <li>
                                    <a href="@securesocial.controllers.routes.LoginPage.logout()"><i class="icon-off"></i> Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }.getOrElse {
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a href="@securesocial.controllers.routes.ProviderController.authenticate("github")">Login with Github</a>
                        </li>
                    </ul>

                }
                </div>
            </div>
        </header>
        <div id="main-container">
        @content
        </div>
    </body>
</html>
