@()(implicit session: controllers.SessionData)

@main("Terms of Service"){
    <div class="col-md-6 col-md-offset-3 faq">
        <h2>Terms of Service</h2>

        <a id=""></a>
        <h4>Subject of the terms of service</h4>
        <p>The following terms of service regulate the use of the online service Time-Tracker owned by scalable minds UG & Co. KG (limited partnership with limited liability company as general partner, later in here referred to as "we", "us").</br>
        These terms of service are agreed upon on registration. Please note that the use of this service requires your unconditional acceptance of these terms of service. If you (later in here referred to as "user") do not accept these terms, you are not entitled to use this service.</p>

        <a id=""></a>
        <h4>Costs</h4>
        <p>The use of this online service is free of charge for you. However, there is no legal entitlement to registration and use.</p>

        <a></a>
        <h4>Exclusion of liability</h4>
        <p>As far as nothing else constitutes claims due to the following reasons, compensation claims against us are excluded. Claims due to harm to life, body and health as well as claims resulting from grossly negligent or intentional violation of duties by the scalable minds UG & Co. KG remain unchallenged.</p>

        <a id=""></a>
        <h4>Duty to care</h4>
        <p>The user must not take measures which disturb the function or availability of the service. We reserve the right to withdraw the user's access authorisation in case of non-compliance.</br>
        The user agrees to treat his/her access data (user name and password) confidentially. The access data must not be passed on to third parties. The customer is to take any necessary measures to maintain the safety and confidentiality of the access data for the online service. In case of possible abuse of his/her access data, the user has to immediately inform the scalable minds UG & Co. KG. The user is to bear the consequences of such abuse.</p>

        <a id=""></a>
        <h4>Place of jurisdiction</h4>
        <p>The law of the Federal Republic of Germany exclusively applies. For users this only applies as far as no legal regulations of the user's country of residence or usual habitation are infringed. Place of jurisdiction for legal disputes with the customers, who are not consumers, legal persons under public law or legal assets under public law, is the residence of the service provider.</p>

        <a id=""></a>
        <h4>Availability of the online service</h4>
        <p>Undisturbed and/or unlimited availability of the online services is not guaranteed or offered. Liability for loss of data is excluded.</br>
        The scalable minds UG & Co. KG reserves the right to partially or entirely change or completely cease offering the service at any time without prior notice.</p>

        <a id=""></a>
        <h4>Amendments</h4>
        <p>We reserve the right to amend these terms of service at any time. The user will be informed about these amendments in the online service. The user accepts these amendments by going on using the service</p>

        <a id=""></a>
        <h4>Data protection</h4>
        <p>The collection and use of person-related data takes place according to common data protection regulations.</br>
        Person-related data will not be transmitted to third parties. For more information concerning the use of Google Analytics and cookies, please see the Privacy Policy: <a href="http://scm.io/privacy">scm.io/privacy</a></p>


        <a id=""></a>
        <h4>Severability clause</h4>
        <p>If some regulations of these terms of service are or become invalid, the validity of other regulations remains unchallenged. Invalid regulations are to be replaced by valid regulations as close as possible to the meaning and economic purpose of the intended regulation - if legally admissible.</p>

    </div>
}
