@(owner: String, repo: String, issueNumber: Int)

@main("Create a new time entry") {
    <div class="alert fade in hide">
      <button type="button" class="close" data-dismiss="alert">×</button>
    </div>
    <div class="container">
        <h3>/@owner/@repo/@issueNumber</h3>
        @helper.form(action = routes.TimeEntryController.create(owner, repo, issueNumber), 'role -> "form") {
            <div class="form-group">
                <label class="control-label" for="duration">Duration</label>
                <div class="">
                    <input class="form-control" type="text" name="duration" autofocus required pattern="\s*((\d+\s*[hms])\s*)*">
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Log" class="btn btn-default">
            </div>
        }
    </div>
}